@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    --color1: #A60815;
    --color2: #D91E1E;
    --color3: #FCF4EB;
    --color4: #260101;
}


body{
    background-color: var(--color3);
    min-width:  fit-content;
    min-height: fit-content;
    max-width: 1080px ;
    max-height: 1920px ;
    
   
}

header.Index{
    background-image: linear-gradient(to left bottom, var(--color1), var(--color2))  ;
    height: 100px;
    width: 97vw;


}
header.Index > h1{
    text-align: right;
    color: white;
    text-shadow: 1px 1px 3px rgba(7, 59, 11, 0.315);
    font-variant: small-caps;
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: 8px;
    right: 100px;
    


}
header.Index > img{
    width: 90px;
    position: absolute;
    top: 4px;
    right: 5px;


}

nav.Index{
    background-color: var(--color4);
    height: 30px;
    width: 97vw;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.281);
    padding-top: 15px;

    
}
nav.Index > a{
    text-decoration: none;
    color: white;
    margin: 0px 5px;
    padding: 5px 9px;
    border-left: 1px solid var(--color2);

}
nav.Index > a:hover{
   background-color: var(--color2);
   transition: .4s;
}


main.Index{
    display: block;
    position: relative;
    height: 96vh;
    width: 97vw;
}
main.Index > h1{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6em;
    position: absolute;
    margin: 10px;

    
}
div#Guias{
    background-image: linear-gradient(to top,var(--color4), var(--color2));
    display: block;
    position: absolute;
    top: 550px;
    right: 50px;
    width: 250px;
    height: 240px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.418);


}
div#Guias > h2{
    margin-top: 5px;
    font-weight: bolder;
    text-align: center;
    color: #e7f2ff;
    margin-bottom: 10px;
}
div#Guias > ul {
    margin: 0px 5px;
    list-style-position: inside;
    position: absolute;
    top: 50px;
    left: 20px;
}
div#Guias li, abbr{
    margin-bottom: 20px;
    text-decoration: none;
    background-color: var(--color2);
    border-radius: 10px;
    padding: 5px;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.274);
    font-weight: bold;
    font-size: 0.9em;

}





